<div class="section agenda" style="border: 0">

  <div class="header-button">
    <h1>Agenda </h1>
    <!--<button class="button">Add to your calendar</button>-->
  </div>

  <h2>Friday, February 22nd, 2019</h2>

  <h3>Morning</h3>

  <div class="row">

    <div class="coffee">
      <span>7:30 AM</span>
      <div><span>Registration &amp; Breakfast</span></div>
    </div>

    <div class="talk">
      <span>8:45 AM</span>
      <strong>Welcome &amp; Introduction</strong>
      <span>Conference Organizers</span>
    </div>

    <div class="keynote talk" onclick="window.location='talk-belinda-vennam-knative-serverless-to-cluster-near-you.html'">
      <span>9:00 AM</span>
      <strong>Opening Keynote: Knative: Bringing Serverless to a Cluster Near You</strong>
      <span>Belinda Vennam</span>
    </div>

    <div class="coffee">
      <div><span>Break</span></div>
    </div>

    <div class="talk" onclick="window.location='talk-josh-carlisle-rainbows-unicorns-etc.html'">
      <span>10:00 AM</span>
      <strong>Talk 1: Rainbows, Unicorns, and other Fairy Tales in the Land of Serverless Dreams</strong>
      <span>Josh Carlisle</span>
    </div>

    <div class="coffee">
      <div><span>Break</span></div>
    </div>
  
    <div class="talk" onclick="window.location='talk-brian-leRoux-functions-faster-deploy.html'">
      <span>11:00 AM</span>
      <strong>Talk 2: Functions: Faster to Deploy</strong>
      <span>Brian LeRoux</span>
    </div>

    <div class="coffee lunch">
      <span>11:45 AM</span>
      <div><span>Lunch</span></div>
    </div>

  </div>

  <h3>Afternoon</h3>

  <div class="row">


    <div class="talk" onclick="window.location='talk-james-wickett-karthik-gaekwad-sec-in-faas-lane.html'">
      <span>12:45 PM</span>
      <strong>Talk 3: Security in the FaaS Lane</strong>
      <span>James Wickett/Karthik Gaekwad</span>
    </div>

    <div class="coffee">
        <div><span>Break</span></div>
    </div>

    <div class="talk" onclick="window.location='talk-burton-rheutan-serverless-functions-your-terms-openfaas.html'">
      <span>1:45 PM</span>
      <strong>Talk 4: Serverless Functions on Your Terms with OpenFaaS</strong>
      <span>Burton Rheutan</span>
    </div>

    <div class="coffee">
      <div><span>Snack Break</span></div>
    </div>

    <div class="talk" onclick="window.location='talk-erik-peterson-findevops-sre-in-serverless-age.html'">
      <span>3:00 PM</span>
      <strong>Talk 5: FinDevOps: Site Reliability in the Serverless Age</strong>
      <span>Erik Peterson</span>
    </div>

    <div class="coffee">
      <div><span>Break</span></div>
    </div>

    <div class="talk" onclick="window.location='talk-martin-omander-breaking-up-your-monolith.html'">
      <span>4:00 PM</span>
      <strong>Talk 6: Breaking up your monolith application, one step at a time</strong>
      <span>Martin Omander</span>
    </div>

    <div class="coffee">
      <div><span>Break</span></div>
    </div>

    <div class="keynote talk" onclick="window.location='talk-chris-munns-serverless-is-dead.html'">
      <span>5:00 PM</span>
      <strong>Closing Keynote: Serverless is Dead!</strong>
      <span>Chris Munns</span>
    </div>

    <div class="talk">
      <span>5:45 PM</span>
      <strong>Conference Closing</strong>
      <span>Conference Organizers</span>
    </div>
  
    <div class="coffee lunch">
      <span>6:00 PM - 9:00 PM</span>
      <div><span>Happy Hour</span></div>
  </div>

  </div>
</div>