<div class="section speakers">
  <h1>Speakers</h1>
  <div class="list">
    <div>
      <div class="bio">
        <img src="speakers/belinda-vennam-headshot.png">
        <h3>Belinda Vennam</h3>
        <a href="http://twitter.com/BeeMarieV" target="_blank">@BeeMarieV</a>
      </div>
     </div>
    <div>
      <div class="bio">
        <img src="speakers/headshot-silhouette-transparent-bground.1024x1024.png">
        <h3>Josh Carlisle</h3>
        <a href="http://twitter.com/joshcarlisle" target="_blank">@joshcarlisle</a>
      </div>
    </div>
     <div>
      <div class="bio">
        <img src="speakers/brian-leroux-headshot.jpg">
        <h3>Brian LeRoux</h3>
        <a href="http://twitter.com/brianleroux" target="_blank">@brianleroux</a>
      </div>
    </div>
     <div>
      <div class="bio">
        <img src="speakers/headshot-silhouette-transparent-bground.1024x1024.png">
        <h3>James Wicket<br/>Karthik Gaekwad</h3>
        <a href="http://twitter.com/wickett" target="_blank">@wickett</a><a href="https://twitter.com/iteration1" target="_blank">@iteration1</a>      </div>
    </div>
     <div>
      <div class="bio">
        <img src="speakers/burton-rheutan-headshot.jpg">
        <h3>Burton Rheutan</h3>
        <a href="http://twitter.com/_burtonr" target="_blank">@_burtonr</a>
      </div>
    </div>
     <div>
      <div class="bio">
        <img src="speakers/erik-peterson-headshot.jpg">
        <h3>Erik Peterson</h3>
        <a href="http://twitter.com/Silvexis" target="_blank">@Silvexis</a>
      </div>
    </div>
     <div>
      <div class="bio">
        <img src="speakers/martin-omander-headshot.jpg">
        <h3>Martin Omander</h3>
        <a href="http://twitter.com/martinomander" target="_blank">@martinomander</a>
      </div>
    </div>
    <div>
      <div class="bio">
        <img src="speakers/chris-munns-headshot.jpg">
        <h3>Chris Munns</h3>
        <a href="http://twitter.com/chrismunns" target="_blank">@chrismunns</a>
      </div>
    </div>
  </div>
</div>