<div class="section sponsors">
    <h1>Sponsors</h1>
  <div class="center">
    <p>Interested in becoming a sponsor? Take a look at our <a class="link bold highlight" href="./prospectus.html" title="ServerlessDays ATX Prospectus">Conference Prospectus Page</a>.
      </p>
  </div>
  
  <h2>Platinum</h2>
  <div class="list headline">
    <div>
      <a href="https://www.ibm.com" target="_blank"><img class="grow" src="logos/ibmpos_blurgb.jpg" title="IBM" alt="IBM"></a>
    </div>
  </div>
 
    <div class="separator">&nbsp;</div>
    
  <h2>Gold</h2>
  <div class="list headline">
    <div>
      <a href="https://cloud.google.com/" target="_blank"><img class="grow" src="logos/cloud_lockup_horiz.jpg" title="Google Cloud" alt="Google Cloud" height="120"></a>
    </div>
  </div>
  
    <div class="separator">&nbsp;</div>
     <!--
    <h2>Silver</h2>
  
    <div class="list community mt4">
  
    </div>
  
    <div class="separator">&nbsp;</div>
    -->
    <h2>Bronze</h2>
    <div class="list community mt4">
      <div class="square">
        <a href="https://www.oracle.com/" target="_blank"><img class="grow" src="logos/primary-sig-oracle.gif" title="Oracle" alt="Oracle" height="120"></a>
      </div>    
      <div class="square">
        <a href="https://www.signalsciences.com/" target="_blank"><img class="grow" src="logos/sigsci-logo__primary-orange.jpg" title="Signal Sciences" alt="Signal Sciences" height="50"></a>
      </div>    
    </div>
  
  </div>