<div class="section sponsors">
    <h1>Sponsors</h1>
  <div class="center">
    <p>Interested in becoming a sponsor? Take a look at our <a class="link bold highlight" href="./prospectus.html" title="ServerlessDays ATX Prospectus">Conference Prospectus Page</a>.
      </p>
  </div>
  
  <h2>Platinum</h2>
  <div class="list headline">
    <div>
      <a href="https://www.ibm.com" target="_blank"><img class="grow" src="logos/ibmpos_blurgb.jpg" title="Docebo" alt="Docebo"></a>
    </div>
  </div>
  <!--
    <div class="separator">&nbsp;</div>
    
    <h2>Gold</h2>
    <div class="list headline">
      
    </div>
  
    <div class="separator">&nbsp;</div>
    <h2>Silver</h2>
  
    <div class="list community mt4">
  
    </div>
  
    <div class="separator">&nbsp;</div>
  
    <h2>Bronze</h2>
    <div class="list media">
      
    </div>
  
    <div class="list media mt3">
  
    </div>
    -->
  </div>